<!DOCTYPE html>
<html>
<head>
  <title>BlackBelt2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class='nav'>
  <% if current_user %>
    <li style="color: white; font-size: 36px; margin-left: 10px">Hi, <%= current_user.name %></li>
    <ul class='nav' style="float: right">
      <% if current_page?(:controller => 'shoes') %>
        <li><a href='/dashboard'>My Dashboard</a></li>
      <% else %>
        <li><a href='/'>All Shoes</a></li>
      <% end %>
      <li><a href='/logout'>Log Out</a></li>
    </ul>
  <% end %>
</ul>

<p style="color: red"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
