<!DOCTYPE html>
<html>
<head>
  <title>BlackBelt2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class='nav'>
  <% if current_user %>
    <li><a href='/'>Home</a></li>
    <ul class='nav' style="float: right">
      <li><a href='/logout'>Log Out</a></li>
    </ul>
  <% else %>
    <ul class='nav' style='float: right'>
      <li><a href='/login'>Log In</a></li>
      <li><a href='/signup'>Sign up</a></li>
    </ul>
  <% end %>
</ul>

<p style="color: red"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
